.login {
  width: 90%;
  max-width: 40rem;
  margin: 8rem auto;
  padding: 2rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.actions {
  text-align: center;
}

.actions__button {
  border-radius: 25px;
  padding: 0.75rem 4.5rem;
}